/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
} */

header {
 background-color: black;
}

/* .header-elements {
 display: flex;
 justify-content: space-between;
 padding: 2vw;
}

h1 {
 font-size: 2.2em;
}

body {
  font-family: Arial;
  font-size: 120%;
  background-color: black;
} */

body {
  font-family: Arial;
  font-size: 120%;
  color: #ccc;
  background-color: black;
}

a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #af9fc8;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

.option button {
  display: block;
}

input[type="email"] {
  font-size: 100%;
  color: black;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
  color: grey;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.intro {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* 
.startbutton, #answer1, #answer2, #answer3, #answer4 {
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(34,36,38,.15) 3px 0 0 4px inset;
  color: black;
  cursor: pointer;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 1.3em;
  padding: 20px;
  margin-bottom: 60px;
  background-color: blueviolet;
}

/* .introcontainer {
  display: flex;
}

.quizcontainer {
  display: none;
} */

/*
.introcontainer, .quizcontainer {
 border: solid white 2px;
 margin-left: 25%;
 margin-right: 25%;
 margin-bottom: 3vw;
 margin-top: 3vw;
 display: flex;
 flex-direction: column;
}

footer {
 height: 3vw;
 width: 100%;
 border: 2px solid white;
} */